<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.devfun.settingweb_boot.dao.StatisticMapper">
 
 	<!-- 해당년도의 로그인 수 -->
    <select id="selectYearLogin" parameterType="string" resultType="hashMap">
        select count(*) as totCnt
        from statistc.requestinfo ri
        where left(ri.createDate, 2) = #{year};
    </select>
    
    <!-- 월별 접속자 수 -->
    <select id="selectMonthLogin" parameterType="string" resultType="hashMap">
		select count(*) as totCnt
		from statistic.requestinfo ri
		where mid(ri.createDate, 3,4) = #{month};
    </select>

	<!-- 일별 접속자 수  -->
    <select id="selectDateLogin" parameterType="string" resultType="hashMap">
		select count(*) as totCnt
		from statistic.requestinfo ri
		where mid(ri.createDate, 5,6) = #{date};
    </select>

	<!--평균 하루 접속자 수 -->
    <select id="selectAvgDateLogin" parameterType="string" resultType="hashMap">
		select TRUNC(avg(count),0) as totCnt
		from ( select count(*) as count, mid(ri.createDate, 5,6) from statistic.requestinfo ri group by mid(ri.createDate, 5,6))
		group by ri.createDate
    </select>
	
	<!-- 부서별 월별 로그인 수 -->
	<select id="selectOrganMonthLogin" parameterType="string" resultType="">
		select us.HR_ORGAN, count(*) totcnt
		from statistic.requestinfo ri, statistic.user us
		where ri.userId = us.userId and mid(ri.createDate, 3,4) = #{month}
		group by us.HR_ORGAN;
	</select>
</mapper>